/*  --開始·utilitiess---  */
body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased !important;
}
.container-fluid {
  width: 100%;
  max-width: 1920px;
  display: block;
  overflow: hidden;
  margin: 0 auto;
  background-color: #ffffff;
}
/*  --結束·utilities---  */
body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased !important;
  margin: 0;
}
/*  --開始·變數設定---  */
/*@desktop: ~"only screen and (min-width: 960px) and (max-width: 1199px)";
@mb: ~"only screen and (min-width: 720px) and (max-width: 959px)";*/
/*  --結束·變數設定---  */
/*  --開始·頁面---  */
.kv {
  width: 100%;
  overflow: hidden;
  background: transparent no-repeat top center;
  background-size: contain;
  position: relative;
  height: 0;
  padding-bottom: 49.93055556%;
  background-image: url(../Images/kv-bg.jpg);
}
.kv .wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}
.kv .wrapper .content {
  position: relative;
  width: 68.88888889%;
  max-width: 992px;
  height: 100%;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .kv {
    padding-bottom: 80%;
    background-size: cover;
  }
}
.kv h1 {
  text-indent: -9999px;
}
.kv h1 i {
  position: absolute;
  display: block;
  background: transparent no-repeat center;
  background-size: contain;
  width: 52.11693548%;
  left: 50%;
  margin-left: -26.05846774%;
  top: 38.47222222%;
  background-image: url(../Images/kv-title.png);
}
.kv h1 i:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 47.77562863%;
}
.kv h1 i.show {
  -webkit-animation: flash 1s 2;
  -moz-animation: flash 1s 2;
  animation: flash 1s 2;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
@-webkit-keyframes flash {
  0% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
  50% {
    -webkit-opacity: 0.2;
    -moz-opacity: 0.2;
    opacity: 0.2;
  }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
}
@-moz-keyframes flash {
  0% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
  50% {
    -webkit-opacity: 0.2;
    -moz-opacity: 0.2;
    opacity: 0.2;
  }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
}
@-ms-keyframes flash {
  0% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
  50% {
    -webkit-opacity: 0.2;
    -moz-opacity: 0.2;
    opacity: 0.2;
  }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
}
@-o-keyframes flash {
  0% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
  50% {
    -webkit-opacity: 0.2;
    -moz-opacity: 0.2;
    opacity: 0.2;
  }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
  50% {
    -webkit-opacity: 0.2;
    -moz-opacity: 0.2;
    opacity: 0.2;
  }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
}
@media screen and (max-width: 768px) {
  .kv h1 i {
    width: 83.38709677%;
    margin-left: -41.69354839%;
  }
}
.kv .cta {
  position: absolute;
  display: block;
  background: transparent no-repeat center;
  background-size: contain;
  width: 11.08870968%;
  left: 50%;
  margin-left: -5.54435484%;
  top: 69.16666667%;
  max-width: 110px;
  background-image: url(../Images/KV_cta.png);
}
.kv .cta:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}
.kv .cta.show {
  -webkit-animation: updown 1s infinite alternate;
  -moz-animation: updown 1s infinite alternate;
  animation: updown 1s infinite alternate;
}
@-webkit-keyframes updown {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
  }
}
@-moz-keyframes updown {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
  }
}
@-ms-keyframes updown {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
  }
}
@-o-keyframes updown {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
  }
}
@keyframes updown {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
  }
}
@media screen and (max-width: 768px) {
  .kv .cta {
    width: 17.74193548%;
    margin-left: -8.87096774%;
  }
}
.intro {
  width: 100%;
  overflow: hidden;
  background: transparent no-repeat top center;
  background-size: contain;
  position: relative;
  height: 0;
  padding-bottom: 127.70833333%;
  background-image: url(../Images/intro-bg.jpg);
}
.intro .wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}
.intro .wrapper .content {
  position: relative;
  width: 68.88888889%;
  max-width: 992px;
  height: 100%;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .intro {
    height: auto;
    padding-bottom: unset;
    background-size: cover;
  }
  .intro .wrapper {
    position: relative;
  }
  .intro .wrapper .content {
    width: 100%;
  }
}
.intro .paragraph1 {
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.intro .paragraph1 i {
  position: absolute;
  display: block;
  background: transparent no-repeat center;
  background-size: contain;
  width: 93.9516129%;
  left: 50%;
  margin-left: -46.97580645%;
  top: 1.63043478%;
  max-width: 932px;
  background-image: url(../Images/intro-description.png);
}
.intro .paragraph1 i:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 44.42060086%;
}
@media screen and (max-width: 768px) {
  .intro .paragraph1 i {
    position: relative;
  }
}
.intro .paragraph2 h2 {
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0px;
  margin: 15px auto;
}
.intro .paragraph2 h2 i {
  position: absolute;
  display: block;
  background: transparent no-repeat center;
  background-size: contain;
  width: 46.06854839%;
  left: 50%;
  margin-left: -23.03427419%;
  top: 26.63043478%;
  max-width: 457px;
  background-image: url(../Images/intro-title2.png);
}
.intro .paragraph2 h2 i:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 10.94091904%;
}
@media screen and (max-width: 768px) {
  .intro .paragraph2 h2 i {
    position: relative;
  }
}
.intro .paragraph2 .pollution {
  position: absolute;
  display: block;
  background: transparent no-repeat center;
  background-size: contain;
  width: 93.9516129%;
  left: 50%;
  margin-left: -46.97580645%;
  top: 32.93478261%;
  max-width: 932px;
  background-image: url(../Images/intro-pollution.png);
}
.intro .paragraph2 .pollution:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 64.80686695%;
}
@media screen and (max-width: 768px) {
  .intro .paragraph2 .pollution {
    position: relative;
    width: 90%;
    left: auto;
    margin: auto;
  }
}
.intro .paragraph3 {
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0px;
  margin: 15px auto;
}
.intro .paragraph3 i {
  position: absolute;
  display: block;
  background: transparent no-repeat center;
  background-size: contain;
  width: 60.58467742%;
  left: 50%;
  margin-left: -30.29233871%;
  top: 68.47826087%;
  max-width: 601px;
  background-image: url(../Images/intro-title3.png);
}
.intro .paragraph3 i:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 37.93677205%;
}
@media screen and (max-width: 768px) {
  .intro .paragraph3 i {
    position: relative;
    width: 70%;
    left: auto;
    margin: auto;
  }
}
.product {
  width: 100%;
  overflow: hidden;
  background: transparent no-repeat top center;
  background-size: contain;
  position: relative;
  height: 0;
  padding-bottom: 41.31944444%;
  background-image: url(../Images/product-bg.jpg);
}
.product .wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}
.product .wrapper .content {
  position: relative;
  width: 68.88888889%;
  max-width: 992px;
  height: 100%;
  margin: auto;
}
.product .img {
  position: absolute;
  display: block;
  background: transparent no-repeat center;
  background-size: contain;
  width: 49.29435484%;
  right: 0;
  top: 11.76470588%;
  max-width: 489px;
  background-image: url(../Images/product-kv.png);
}
.product .img:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 89.77505112%;
}
.feature {
  width: 100%;
  overflow: hidden;
  background: transparent no-repeat top center;
  background-size: contain;
  position: relative;
  height: 0;
  padding-bottom: 94.44444444%;
  background-image: url(../Images/feature-bg.jpg);
}
.feature .wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}
.feature .wrapper .content {
  position: relative;
  width: 68.88888889%;
  max-width: 992px;
  height: 100%;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .feature {
    height: auto;
    padding-bottom: unset;
    background-size: cover;
  }
  .feature .wrapper {
    position: relative;
  }
  .feature .wrapper .content {
    width: 100%;
  }
}
.feature .feature_kv {
  position: absolute;
  display: block;
  background: transparent no-repeat center;
  background-size: contain;
  width: 100%;
  left: 50%;
  margin-left: -50%;
  top: 14.70588235%;
  background-image: url(../Images/feature-kv.png);
}
.feature .feature_kv:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 39.93055556%;
}
.feature .title {
  position: absolute;
  display: block;
  background: transparent no-repeat center;
  background-size: contain;
  width: 82.15725806%;
  left: 50%;
  margin-left: -41.07862903%;
  top: 4.19117647%;
  max-width: 815px;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-image: url(../Images/feature-title.png);
}
.feature .title:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 17.54601227%;
}
@media screen and (max-width: 768px) {
  .feature .title {
    position: relative;
    width: 90%;
    left: auto;
    margin: 20px auto;
  }
}
.feature .title2 {
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.feature .title2 i {
  position: absolute;
  display: block;
  background: transparent no-repeat center;
  background-size: contain;
  width: 71.57258065%;
  left: 50%;
  margin-left: -35.78629032%;
  top: 53.67647059%;
  max-width: 710px;
  background-image: url(../Images/feature-title2.png);
}
.feature .title2 i:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 28.16901408%;
}
@media screen and (max-width: 768px) {
  .feature .title2 i {
    position: relative;
    left: auto;
    margin: auto;
    margin-top: 250px;
  }
}
.feature .description {
  position: absolute;
  display: block;
  background: transparent no-repeat center;
  background-size: contain;
  width: 98.79032258%;
  left: 50%;
  margin-left: -49.39516129%;
  top: 69.85294118%;
  max-width: 980px;
  background-image: url(../Images/feature-description.jpg);
}
.feature .description:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 42.24489796%;
}
@media screen and (max-width: 768px) {
  .feature .description {
    position: relative;
    left: auto;
    margin: 50px auto;
    width: 100%;
  }
}
.feature2 {
  width: 100%;
  overflow: hidden;
  background: transparent no-repeat top center;
  background-size: contain;
  position: relative;
  height: 0;
  padding-bottom: 100%;
  background-image: url(../Images/feature2-bg.jpg);
}
.feature2 .wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}
.feature2 .wrapper .content {
  position: relative;
  width: 68.88888889%;
  max-width: 992px;
  height: 100%;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .feature2 {
    height: auto;
    padding-bottom: unset;
    background-size: cover;
  }
  .feature2 .wrapper {
    position: relative;
  }
  .feature2 .wrapper .content {
    width: 100%;
  }
}
.feature2 .f1 {
  position: absolute;
  display: block;
  background: transparent no-repeat center;
  background-size: contain;
  width: 100%;
  left: 50%;
  margin-left: -50%;
  top: 3.95833333%;
  max-width: 992px;
  background-image: url(../Images/feature2-1.png);
}
.feature2 .f1:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 27.41935484%;
}
@media screen and (max-width: 768px) {
  .feature2 .f1 {
    position: absolute;
    display: block;
    background: transparent no-repeat center;
    background-size: contain;
    width: 92.5%;
    left: 50%;
    margin-left: -46.25%;
    top: 2.05924855%;
    background-image: url(../Images/feature2-1-m.png);
    position: relative;
    left: auto;
    margin: auto;
  }
  .feature2 .f1:after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 144.08783784%;
  }
}
.feature2 .f2 {
  position: absolute;
  display: block;
  background: transparent no-repeat center;
  background-size: contain;
  width: 100%;
  left: 50%;
  margin-left: -50%;
  top: 24.30555556%;
  max-width: 992px;
  background-image: url(../Images/feature2-2.png);
}
.feature2 .f2:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 26.20967742%;
}
@media screen and (max-width: 768px) {
  .feature2 .f2 {
    position: absolute;
    display: block;
    background: transparent no-repeat center;
    background-size: contain;
    width: 92.5%;
    left: 50%;
    margin-left: -46.25%;
    top: 12.64450867%;
    background-image: url(../Images/feature2-2-m.png);
    position: relative;
    left: auto;
    margin: auto;
  }
  .feature2 .f2:after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 107.43243243%;
  }
}
.feature2 .f3 {
  position: absolute;
  display: block;
  background: transparent no-repeat center;
  background-size: contain;
  width: 100%;
  left: 50%;
  margin-left: -50%;
  top: 45.13888889%;
  max-width: 992px;
  background-image: url(../Images/feature2-3.png);
}
.feature2 .f3:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 26.91532258%;
}
@media screen and (max-width: 768px) {
  .feature2 .f3 {
    position: absolute;
    display: block;
    background: transparent no-repeat center;
    background-size: contain;
    width: 92.5%;
    left: 50%;
    margin-left: -46.25%;
    top: 12.64450867%;
    background-image: url(../Images/feature2-3-m.png);
    position: relative;
    left: auto;
    margin: auto;
  }
  .feature2 .f3:after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 106.92567568%;
  }
}
.feature2 .f3 a {
  position: absolute;
  display: block;
  background: transparent no-repeat center;
  background-size: contain;
  width: 20.16129032%;
  left: 65.52419355%;
  top: 61.79775281%;
  max-width: 200px;
  background-image: url(../Images/feature2-cta_productinfo.png);
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.feature2 .f3 a:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 25%;
}
@media screen and (max-width: 768px) {
  .feature2 .f3 a {
    width: 35.89577556%;
    max-width: 255px;
    top: 80%;
    left: 50%;
    margin-left: -17.94788778%;
  }
}
.feature2 .f4 {
  position: absolute;
  display: block;
  background: transparent no-repeat center;
  background-size: contain;
  width: 100%;
  left: 50%;
  margin-left: -50%;
  top: 65.97222222%;
  max-width: 992px;
  background-image: url(../Images/feature2-4.png);
}
.feature2 .f4:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 48.58870968%;
}
@media screen and (max-width: 768px) {
  .feature2 .f4 {
    position: absolute;
    display: block;
    background: transparent no-repeat center;
    background-size: contain;
    width: 92.5%;
    left: 50%;
    margin-left: -46.25%;
    top: 12.64450867%;
    background-image: url(../Images/feature2-4-m.png);
    position: relative;
    left: auto;
    margin: auto;
  }
  .feature2 .f4:after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 76.68918919%;
  }
}
.feature2 .f4 a {
  position: absolute;
  display: block;
  background: transparent no-repeat center;
  background-size: contain;
  width: 20.16129032%;
  left: 50%;
  margin-left: -10.08064516%;
  top: 85.06224066%;
  max-width: 200px;
  background-image: url(../Images/feature2-cta_buy.png);
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0px;
}
.feature2 .f4 a:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 25%;
}
@media screen and (max-width: 768px) {
  .feature2 .f4 a {
    width: 35.89577556%;
    max-width: 255px;
    top: 75%;
    left: 50%;
    margin-left: -17.94788778%;
  }
}
.questionaire {
  width: 100%;
  overflow: hidden;
  background: transparent no-repeat top center;
  background-size: cover;
  position: relative;
  background-image: url(../Images/questionaire-bg.jpg);
}
.questionaire .wrapper {
  position: relative;
}
.questionaire .wrapper .content {
  position: relative;
  width: 992px;
  margin: auto;
}
@media screen and (max-width: 1009px) {
  .questionaire .wrapper .content {
    width: 100%;
  }
}
.questionaire h2.title {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 5px;
  text-align: center;
  background: #01256c;
  background: -moz-linear-gradient(left, #01256c 0%, #2753A5 50%, #01256C 100%);
  background: -webkit-linear-gradient(left, #01256c 0%, #2753A5 50%, #01256C 100%);
  background: linear-gradient(to right, #01256c 0%, #2753A5 50%, #01256C 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  padding: 0 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.questionaire h2.title:before {
  content: "";
  display: inline-block;
  width: calc(50% - 100px);
  height: 3px;
  background: #01256c;
  background: -moz-linear-gradient(left, #01256c 0%, #2753A5 50%, #01256C 100%);
  background: -webkit-linear-gradient(left, #01256c 0%, #2753A5 50%, #01256C 100%);
  background: linear-gradient(to right, #01256c 0%, #2753A5 50%, #01256C 100%);
  position: absolute;
  left: 10px;
  top: 48%;
}
.questionaire h2.title:after {
  content: "";
  display: inline-block;
  width: calc(50% - 100px);
  height: 3px;
  background: #01256c;
  background: -moz-linear-gradient(left, #01256c 0%, #2753A5 50%, #01256C 100%);
  background: -webkit-linear-gradient(left, #01256c 0%, #2753A5 50%, #01256C 100%);
  background: linear-gradient(to right, #01256c 0%, #2753A5 50%, #01256C 100%);
  position: absolute;
  right: 10px;
  top: 48%;
}
.questionaire .terms {
  padding: 10px;
  color: #535353;
  margin-bottom: 5.04032258%;
}
.questionaire .terms li {
  margin-bottom: 2.01612903%;
}
.questionaire .terms li .term-title {
  display: inline-block;
  width: 109px;
  height: 20px;
  background: transparent no-repeat center;
  background-size: cover;
  background-image: url(../Images/questionaire-trem-title.png);
  margin-right: 20px;
  overflow: hidden;
  vertical-align: top;
  margin-top: 5px;
}
@media screen and (max-width: 768px) {
  .questionaire .terms li .term-title {
    width: 21.97580645%;
    height: 30px;
  }
}
.questionaire .terms li .text {
  display: inline-block;
  width: calc(100% - 140px);
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .questionaire .terms li .text {
    width: calc(96% - 21.97580645%);
    font-size: 30px;
  }
}
.questionaire .terms li .text a {
  color: #10347c;
}
.questionaire .terms li:nth-of-type(2) .term-title {
  background-position-y: -20px;
}
@media screen and (max-width: 768px) {
  .questionaire .terms li:nth-of-type(2) .term-title {
    background-position-y: -28px;
  }
}
.questionaire .terms li:nth-of-type(3) .term-title {
  background-position-y: -40px;
}
@media screen and (max-width: 768px) {
  .questionaire .terms li:nth-of-type(3) .term-title {
    background-position-y: -60px;
  }
}
.questionaire .terms li:nth-of-type(4) .term-title {
  background-position-y: -60px;
}
@media screen and (max-width: 768px) {
  .questionaire .terms li:nth-of-type(4) .term-title {
    background-position-y: -90px;
  }
}
.questionaire .terms li:nth-of-type(5) .term-title {
  background-position-y: -80px;
}
@media screen and (max-width: 768px) {
  .questionaire .terms li:nth-of-type(5) .term-title {
    background-position-y: -120px;
  }
}
.questionaire .terms li:nth-of-type(6) .term-title {
  background-position-y: -100px;
}
@media screen and (max-width: 768px) {
  .questionaire .terms li:nth-of-type(6) .term-title {
    background-position-y: -150px;
  }
}
.questionaire .terms li:nth-of-type(7) .term-title {
  background-position-y: -120px;
}
@media screen and (max-width: 768px) {
  .questionaire .terms li:nth-of-type(7) .term-title {
    background-position-y: -180px;
  }
}
.questionaire .form {
  padding: 10px;
}
.questionaire .form li {
  background-color: #fff;
  -webkit-border-radius: 63px;
  -moz-border-radius: 63px;
  border-radius: 63px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
  padding: 15px 20px 15px 55px;
  width: 86.49193548%;
  display: block;
  margin: auto;
  margin-bottom: 4.03225806%;
  letter-spacing: 3px;
}
@media screen and (max-width: 768px) {
  .questionaire .form li {
    width: 100%;
    margin-bottom: 3%;
    font-size: 32px;
  }
}
.questionaire .form li p {
  position: relative;
  color: #333333;
  margin-bottom: 10px;
}
.questionaire .form li p:before {
  content: "";
  position: absolute;
  display: block;
  background: transparent no-repeat center;
  background-size: contain;
  width: 6.87645688%;
  height: 0;
  padding-bottom: 4.54545455%;
  top: 0;
  max-width: 59px;
  left: -8%;
  top: -5%;
  background-size: cover;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .questionaire .form li p:before {
    width: 8.56451613%;
    top: -3%;
    padding-bottom: 5.66129032%;
  }
}
.questionaire .form li .options {
  color: #676767;
}
.questionaire .form li:nth-of-type(1) p:before {
  background-image: url(../Images/form-q1.png);
}
.questionaire .form li:nth-of-type(2) p:before {
  background-image: url(../Images/form-q2.png);
}
.questionaire .form li:nth-of-type(3) p:before {
  background-image: url(../Images/form-q3.png);
}
.questionaire .form li:nth-of-type(4) p:before {
  background-image: url(../Images/form-q4.png);
}
.questionaire .form li:nth-of-type(5) p:before {
  background-image: url(../Images/form-q5.png);
}
.questionaire .form li:nth-of-type(6) p:before {
  background-image: url(../Images/form-q6.png);
}
.questionaire .submit {
  position: absolute;
  display: block;
  background: transparent no-repeat center;
  background-size: contain;
  width: 25.30241935%;
  left: 50%;
  margin-left: -12.65120968%;
  bottom: 0;
  max-width: 251px;
  background-image: url(../Images/form-submit.png);
  position: relative;
  margin: auto;
  margin-bottom: 5%;
  left: auto;
}
.questionaire .submit:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 30.27888446%;
}
@media screen and (max-width: 768px) {
  .questionaire .submit {
    width: 43.98826979%;
    margin: auto;
  }
}
.channels {
  width: 100%;
  overflow: hidden;
  background: transparent no-repeat top center;
  background-size: cover;
  position: relative;
  background-image: url(../Images/channels-bg.jpg);
}
.channels .wrapper {
  position: relative;
}
.channels .wrapper .content {
  position: relative;
  width: 992px;
  margin: auto;
}
@media screen and (max-width: 1009px) {
  .channels .wrapper .content {
    width: 100%;
  }
}
.channels h2.title {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 5px;
  text-align: center;
  background: #01256c;
  background: -moz-linear-gradient(left, #01256c 0%, #2753A5 50%, #01256C 100%);
  background: -webkit-linear-gradient(left, #01256c 0%, #2753A5 50%, #01256C 100%);
  background: linear-gradient(to right, #01256c 0%, #2753A5 50%, #01256C 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  padding: 0 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.channels h2.title:before {
  content: "";
  display: inline-block;
  width: calc(50% - 100px);
  height: 3px;
  background: #01256c;
  background: -moz-linear-gradient(left, #01256c 0%, #2753A5 50%, #01256C 100%);
  background: -webkit-linear-gradient(left, #01256c 0%, #2753A5 50%, #01256C 100%);
  background: linear-gradient(to right, #01256c 0%, #2753A5 50%, #01256C 100%);
  position: absolute;
  left: 10px;
  top: 48%;
}
.channels h2.title:after {
  content: "";
  display: inline-block;
  width: calc(50% - 100px);
  height: 3px;
  background: #01256c;
  background: -moz-linear-gradient(left, #01256c 0%, #2753A5 50%, #01256C 100%);
  background: -webkit-linear-gradient(left, #01256c 0%, #2753A5 50%, #01256C 100%);
  background: linear-gradient(to right, #01256c 0%, #2753A5 50%, #01256C 100%);
  position: absolute;
  right: 10px;
  top: 48%;
}
.channels .channel_list {
  text-align: center;
}
.channels .channel_list li {
  display: inline-block;
  width: 21.27016129%;
  margin: 10px;
  position: relative;
}
.channels .channel_list li a {
  position: absolute;
  display: block;
  background: transparent no-repeat center;
  background-size: contain;
  width: 100%;
  height: 0;
  padding-bottom: 47.86729858%;
  left: 0%;
  top: 0;
  max-width: 211px;
  position: relative;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.channels .channel_list li:nth-of-type(1) a {
  background-image: url(../Images/retail_carrefour.png);
}
.channels .channel_list li:nth-of-type(2) a {
  background-image: url(../Images/retail_carrefour_market.png);
}
.channels .channel_list li:nth-of-type(3) a {
  background-image: url(../Images/retail_rtmart.png);
}
.channels .channel_list li:nth-of-type(4) a {
  background-image: url(../Images/retail_bnq.png);
}
.channels .channel_list li:nth-of-type(5) a {
  background-image: url(../Images/retail_costco.png);
}
.channels .channel_list li:nth-of-type(6) a {
  background-image: url(../Images/retail_tkec.png);
}
.channels .channel_list li:nth-of-type(7) a {
  background-image: url(../Images/retail_elife.png);
}
.channels .channel_list li:nth-of-type(8) a {
  background-image: url(../Images/retail_pchome24.png);
}
.channels .channel_list li:nth-of-type(9) a {
  background-image: url(../Images/retail_yahoo.png);
}
.channels .channel_list li:nth-of-type(10) a {
  background-image: url(../Images/retail_momo.png);
}
.channels .channel_list li:nth-of-type(11) a {
  background-image: url(../Images/retail_3m.png);
}
.channels .sp-banner {
  position: absolute;
  display: block;
  background: transparent no-repeat center;
  background-size: contain;
  width: 93.85080645%;
  left: 50%;
  margin-left: -46.92540323%;
  bottom: 0;
  max-width: 931px;
  background-image: url(../Images/retail_sp_carrefour.jpg);
  position: relative;
  margin-top: 3%;
  margin-bottom: 3%;
}
.channels .sp-banner:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 19.33404941%;
}
.pop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 10;
  display: none;
}
.pop .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(16, 52, 124, 0.8);
  display: block;
  overflow: hidden;
}
.pop .pop-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 842px;
  height: 540px;
  display: block;
  -webkit-border-radius: 0 200px 0 200px;
  -moz-border-radius: 0 200px 0 200px;
  border-radius: 0 200px 0 200px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #01256c;
  background: -moz-linear-gradient(left, #01256c 0%, #2753A5 50%, #01256C 100%);
  background: -webkit-linear-gradient(left, #01256c 0%, #2753A5 50%, #01256C 100%);
  background: linear-gradient(to right, #01256c 0%, #2753A5 50%, #01256C 100%);
}
@media screen and (max-width: 768px) {
  .pop .pop-content {
    width: 95%;
    height: 650px;
  }
}
.pop .pop-content .close {
  position: absolute;
  display: block;
  background: transparent no-repeat center;
  background-size: contain;
  width: 7.36342043%;
  right: 0;
  top: 0;
  max-width: 62px;
  background-image: url(../Images/pop-close.png);
  -webkit-transform: translate(0, -30%);
  -moz-transform: translate(0, -30%);
  -ms-transform: translate(0, -30%);
  -o-transform: translate(0, -30%);
  z-index: 5;
}
.pop .pop-content .close:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}
.pop .pop-content .content-body {
  width: 98.6%;
  height: 98.6%;
  position: absolute;
  padding: 0.7%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-border-radius: 0 200px 0 200px;
  -moz-border-radius: 0 200px 0 200px;
  border-radius: 0 200px 0 200px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #d3efff;
  background: -moz-linear-gradient(left, #d3efff 0%, #ffffff 50%, #d3efff 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #d3efff), color-stop(50%, #ffffff), color-stop(100%, #d3efff));
  background: -webkit-linear-gradient(left, #d3efff 0%, #ffffff 50%, #d3efff 100%);
  background: -o-linear-gradient(left, #d3efff 0%, #ffffff 50%, #d3efff 100%);
  background: -ms-linear-gradient(left, #d3efff 0%, #ffffff 50%, #d3efff 100%);
  background: linear-gradient(to right, #d3efff 0%, #ffffff 50%, #d3efff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d3efff', endColorstr='#d3efff', GradientType=1);
  text-align: center;
  letter-spacing: 3px;
  z-index: 3;
}
.pop .pop-content .content-body.form {
  display: none;
}
.pop .pop-content .content-body.form .title {
  background: #01256c;
  background: -moz-linear-gradient(left, #01256c 0%, #2753A5 50%, #01256C 100%);
  background: -webkit-linear-gradient(left, #01256c 0%, #2753A5 50%, #01256C 100%);
  background: linear-gradient(to right, #01256c 0%, #2753A5 50%, #01256C 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 36px;
  border-bottom: 2px solid #01256c;
  display: inline-block;
}
.pop .pop-content .content-body.form .items {
  width: 53.3007335%;
  position: relative;
  margin: 20px auto;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .pop .pop-content .content-body.form .items {
    width: 88%;
  }
}
.pop .pop-content .content-body.form .items .item {
  width: 100%;
  height: 46px;
  border: 1px solid #043f7b;
  margin: 15px 0;
  padding: 0;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .pop .pop-content .content-body.form .items .item {
    height: 60px;
    font-size: 28px;
  }
}
.pop .pop-content .content-body.form .items .item span {
  background-color: #043f7b;
  display: inline-block;
  height: 100%;
  color: #fff;
  width: 28.44036697%;
  text-align: center;
  line-height: 46px;
}
@media screen and (max-width: 768px) {
  .pop .pop-content .content-body.form .items .item span {
    line-height: 60px;
  }
}
.pop .pop-content .content-body.form .items .item input {
  border: none;
  height: 43px;
  padding: 0;
  width: 69.72477064%;
  font-size: 20px;
  display: inline-block;
  vertical-align: top;
}
@media screen and (max-width: 768px) {
  .pop .pop-content .content-body.form .items .item input {
    width: 60%;
    height: 58px;
    font-size: 22px;
  }
}
.pop .pop-content .content-body.form .checkbox {
  font-size: 16px;
  width: 53.3007335%;
  position: relative;
  margin: 20px auto;
  text-align: left;
  color: #898989;
}
.pop .pop-content .content-body.form .checkbox a {
  color: #043f7b;
}
@media screen and (max-width: 768px) {
  .pop .pop-content .content-body.form .checkbox {
    width: 90%;
    font-size: 24px;
  }
}
.pop .pop-content .content-body.form .checkbox label {
  display: block;
}
.pop .pop-content .content-body.form .submit {
  position: absolute;
  display: block;
  background: transparent no-repeat center;
  background-size: contain;
  width: 24.43727075%;
  left: 50%;
  margin-left: -12.21863537%;
  bottom: 0;
  background-image: url(../Images/pop-btn_send.png);
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  bottom: 2%;
}
.pop .pop-content .content-body.form .submit:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 25%;
}
@media screen and (max-width: 768px) {
  .pop .pop-content .content-body.form .submit {
    width: 36.6568915%;
    margin-left: -18.32844575%;
  }
}
.pop .pop-content .content-body.complete {
  display: none;
}
.pop .pop-content .content-body.complete p {
  background: #01256c;
  background: -moz-linear-gradient(left, #01256c 0%, #2753A5 50%, #01256C 100%);
  background: -webkit-linear-gradient(left, #01256c 0%, #2753A5 50%, #01256C 100%);
  background: linear-gradient(to right, #01256c 0%, #2753A5 50%, #01256C 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 36px;
  margin-top: 130px;
  margin-bottom: 50px;
}
.pop .pop-content .content-body.complete hr {
  width: 40%;
  height: 4px;
  background: #01256c;
  background: -moz-linear-gradient(left, #01256c 0%, #2753A5 50%, #01256C 100%);
  background: -webkit-linear-gradient(left, #01256c 0%, #2753A5 50%, #01256C 100%);
  background: linear-gradient(to right, #01256c 0%, #2753A5 50%, #01256C 100%);
}
.pop .pop-content .content-body.complete .fb-share {
  position: absolute;
  display: block;
  background: transparent no-repeat center;
  background-size: contain;
  width: 30.54658843%;
  left: 50%;
  margin-left: -15.27329422%;
  top: 67.22275894%;
  background-image: url(../Images/pop-btn_send.png);
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-image: url(../Images/pop-btn_fbshare.png);
}
.pop .pop-content .content-body.complete .fb-share:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 30%;
}